<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List of vets</title>
</head>
<body>
	<h1 th:text="'List of vets'">List of vets</h1>
	
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>FIRST NAME</th>
				<th>SECOND NAME</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="vet:${vets}">
				<td th:text="${vet.id}"></td>
				<td th:text="${vet.firstName}"></td>
				<td th:text="${vet.lastName}"></td>
			</tr>

		</tbody>
	</table>
	

</body>
</html>